@use 'colors' as *;

button {
  border-radius: 3px;
  border: none;
  color: $blue;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  transition: background-color 0.1s ease-in-out;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &.primary {
    background-color: $yellow;

    &:disabled {
      background-color: $light-yellow;
      color: $dark-gray;
    }

    &:hover:not(:disabled) {
      background-color: $light-yellow;
    }
  }

  &.secondary {
    background-color: $gray;

    &:disabled {
      background-color: $light-gray;
      color: $dark-gray;
    }

    &:hover:not(:disabled) {
      background-color: $light-gray;
    }
  }
}
