<section>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th class="info-header">
            <span>Descripción</span>
            <div class="tooltip">
              <i class="ri-information-fill"></i>
              <span class="tooltiptext">Descripción del producto</span>
            </div>
          </th>
          <th class="info-header">
            <span>Fecha de liberación</span>
            <div class="tooltip">
              <i class="ri-information-fill"></i>
              <span class="tooltiptext">Fecha de liberación del producto</span>
            </div>
          </th>
          <th class="info-header">
            <span>Fecha de reestructuración</span>
            <div class="tooltip">
              <i class="ri-information-fill"></i>
              <div class="tooltiptext">Fecha de revisión del producto</div>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; last as isLast">
          <td class="image-cell"><img [src]="product.logo" [alt]="product.name + ' logo'" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date: 'd/MM/YYYY' }}</td>
          <td>{{ product.date_revision | date: 'd/MM/YYYY' }}</td>
          <td>
            <app-contextual-menu
              [id]="product.id"
              [isLast]="isLast"
              (deleteProduct)="deleteProduct.emit($event)"
            ></app-contextual-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
