<section>
  <div class="actions">
    <input [formControl]="searchControl" type="text" placeholder="Search..." />
    <app-button width="100px" color="primary" routerLink="/create">Agregar</app-button>
  </div>
  <div class="table-container">
    <app-products-table
      [products]="products()"
      (deleteProduct)="onDeleteProduct($event)"
    ></app-products-table>
    <div class="table-actions">
      <p>
        {{
          totalProducts()
            | i18nPlural: { '=0': 'Sin resultados', '=1': '# resultado', other: '# resultados' }
        }}
      </p>

      <select [formControl]="paginationControl">
        <option *ngFor="let page of pages()" [value]="page">{{ page }}</option>
      </select>
    </div>
  </div>
</section>
