$background: #f5f6fa;
$black: #0b0b0b;
$blue: #00225e;
$dark-gray: #6e6e73;
$light-gray: #f0f3f8;
$error: #d50707;
$gray: #e2e7ef;
$light-blue: #f9fafc;
$light-yellow: #f9e8a2;
$white: #ffffff;
$yellow: #fadf52;
